@page
@model WebApp.Pages.Success

<p>Reservation added successfully! You can view your reservations from the menu above!</p>
<form method="get" asp-page="/Index">
    <button type="submit">Return to main page</button>
</form>