@page
@model WebApp.Pages.Success

<div class="alert alert-success" role="alert">
    <p>Reservation added successfully! You can view your reservations from the menu above!</p>
</div>

<form method="get" asp-page="/Index">
    <button type="submit">Return to main page</button>
</form>

    